/* theme */
:root {
  --color-primary: #9d65ff;
  --color-secondary: #dda2f6;
  --color-highlight: #58ebd7;
  --color-danger: #ff206e;
  --color-glow: #6113aa86;
  --color-light: #fff;
  /* dark shades */
  --color-shade: #556;
  --color-darkish: #223;
  --color-dark: #112;
  --color-darkest: #001;
}

/* Gradients */
.gradient {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-primary),
    var(--color-highlight)
  );
}

.gradient.text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

button {
  cursor: pointer;
}

  /* font-size normal === 16px */
  /* Accessibility */
@media (max-width: 1080px) {
  html {
    /* 15px */
    font-size: 93.75%;
  }
  }
@media (max-width: 720px) {
  html {
    /* 14px */
    font-size: 87.5%;
  }
}


body {
  background-color: var(--color-dark);
  color: var(--color-light);
}

main {
  height: 100svh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}